language: node_js
node_js:
  - lts/*
  - node
os: linux
arch: arm64
env:
  - VAULT_VERSION=0.7.2
  - VAULT_VERSION=0.8.2
  - VAULT_VERSION=0.9.6
before_install:
  - sudo apt-get install -y unzip curl
  - curl -fL "https://releases.hashicorp.com/vault/${VAULT_VERSION}/vault_${VAULT_VERSION}_linux_arm64.zip" > /tmp/vault.zip
  - unzip /tmp/vault.zip -d /tmp
  - sudo mv /tmp/vault /usr/local/bin/vault
  - sudo chmod 0755 /usr/local/bin/vault
